.grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto auto auto;
}
.css-1lj39kh-MuiAccordionDetails-root{
    padding: 0px !important;
}

@media screen and (max-width:1024px) {
    .grid {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width:768px) {
    .grid {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:540px) {
    .grid {
        grid-template-columns: auto ;
    }
    .card{
        max-width: 95% !important;
    }
}
.demo{
    margin-top: 0px !important;
}
.demo > div {
    position: unset;
}
.LoggedInfo{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 18px 10px 15px 10px;
    border-bottom: 1px solid;
    justify-content: space-between;
}
.userCard{
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.userInfo > span{
    display: block;
    font-size: 13px;
}
.userInfo .userEmail{
    font-size: 12px !important;
    color: #aaa;
}
.actionBtns{
    display: flex;
    flex-direction: column;
}